<div class="hero-unit">
<h1>About</h1>
<p>
	Jumpline is a service that provides users the luxury of avoid long lines and wait times at their favorite nightclubs and food places by paying for products on their mobile phones.
</p>
</div>